<!-- 
  In this HTML template, we can use Angular's built-in directives to bind data and control the
  display and behavior of the component. 

  *ngFor - this strutural directive is used to loop through the todos array and create a list item for each todo

  *ngIf - this structural directive is used to conditionally display elements based on the value of todo.completed

  [(ngModel)] - this directive is used for two-way data binding, binding the state of the input checkbox to the value of todo.completed and updating it as the checkbox is clicked

  (click) - this directive is used to listen for a click event on the delete button and call the removeTodo method to remove the todo from the array

  (keyup.enter) - this directive is used to listen for the Enter key to be pressed and call the addTodo method to add the new todo to the array 
-->

<div class="todo">
  <h1>TODO Application</h1>
  
  <!-- Step1 Implement a form for adding new TODO items -->
    <!-- use data binding to bind the newTodo property to the input field -->


  <!-- Step2 Use html tags, like ul, to display the list of TODO items -->

    <!-- Step2 Use the *ngFor directive to loop through the todos array -->

      <!-- Step3 Use data binding to bind the todo.completed property to the checkbox input, allowing us to mark items as complete -->
  
      <!-- Step4 Add a button with a click event to remove the todo using the removeTodo method-->

</div>
